@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden {
    display: none;
}

.page-min-height {
    min-height: calc(100vh - 160px);
}

.live-match {
    -webkit-animation: live-animation 2s infinite;
}

@keyframes live-animation {
    0% { background-color: #f87171; }
    50% { background-color: #ef4444; }
    100% { background-color: #dc2626; }
}

/* Navigation */
.absolute-nav {
    position: absolute;
    top: 80px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: white;
    z-index: 10;
}

.no-scroll {
    overflow: hidden;
}

/* Shimmer */

.shimmer {
    background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
}

.shimmer-date {
    background: linear-gradient(-45deg, #60a5fa 40%, #fafafa 50%, #60a5fa 60%);
}

.shimmer,
.shimmer-date {
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
    to {
       background-position-x: 0%
    }
}

/* Table texts & backgrounds */

.bg-broncos {
    background: #55183A;
}
.bg-broncos-gradient {
    background: linear-gradient(to left, #FFCE34 50%, #55183A 50%);    
}
.bg-broncos-alt {
    background: #FFCE34;    
}
.bg-raiders {
    background: #0C8E48;
}
.bg-bulldogs {
    background: #042471;
}
.bg-sharks {
    background: #0772A8;
}
.bg-dolphins {
    background: #C7181D;
}
.bg-titans {
    background: #0955A2;
}
.bg-seaeagles {
    background: #541739;
}
.bg-storm {
    background: #4F378B;
}
.bg-knights {
    background: #022789;
}
.bg-cowboys {
    background: #111B37;
}
.bg-eels {
    background: #FFD327;
}
.bg-panthers {
    background: #F8A1C6;
}
.bg-rabbitohs {
    background: #03502F;
}
.bg-dragons {
    background: #AF1E29;
}
.bg-roosters {
    background: #061E45;
}
.bg-roosters-gradient {
    background: linear-gradient(to left, #E82C2E 50%, #061E45 50%);    
}
.bg-roosters-alt {
    background: #E82C2E;
}
.bg-warriors {
    background: #000000;
}
.bg-weststigers {
    background: #DF6A03;
}
.bg-faded {
    background: #9CA3AF;
}