@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden {
    display: none;
}

.page-min-height {
    min-height: calc(100vh - 160px);
}

.live-match {
    -webkit-animation: live-animation 2s infinite;
}

@keyframes live-animation {
    0% { background-color: #f87171; }
    50% { background-color: #ef4444; }
    100% { background-color: #dc2626; }
}

/* Shimmer */

.shimmer {
    background: linear-gradient(-45deg, #eee 40%, #fafafa 50%, #eee 60%);
}

.shimmer-date {
    background: linear-gradient(-45deg, #9ca3af 40%, #fafafa 50%, #9ca3af 60%);
}

.shimmer,
.shimmer-date {
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
    to {
       background-position-x: 0%
    }
 }

/* Table */

table {
    width: 100%;
    table-layout: fixed;
}

td {
    padding-top: 4px;
    padding-bottom: 4px;
}

/* Table borders & backgrounds */

td.bg-broncos {
    background: #FFCE34;
    border: 2px solid #FFCE34;
}
td.bg-raiders {
    background: #0C8E48;
    border: 2px solid #0C8E48;
}
td.bg-bulldogs {
    background: #042471;
    border: 2px solid #042471;
}
td.bg-sharks {
    background: #0772A8;
    border: 2px solid #0772A8;
}
td.bg-dolphins {
    background: #C7181D;
    border: 2px solid #C7181D;
}
td.bg-titans {
    background: #0955A2;
    border: 2px solid #0955A2;
}
td.bg-seaeagles {
    background: #541739;
    border: 2px solid #541739;
}
td.bg-storm {
    background: #4F378B;
    border: 2px solid #4F378B;
}
td.bg-knights {
    background: #022789;
    border: 2px solid #022789;
}
td.bg-cowboys {
    background: #111B37;
    border: 2px solid #111B37;
}
td.bg-eels {
    background: #042E8E;
    border: 2px solid #042E8E;
}
td.bg-panthers {
    background: #231F24;
    border: 2px solid #231F24;
}
td.bg-rabbitohs {
    background: #E72E2F;
    border: 2px solid #E72E2F;
}
td.bg-dragons {
    background: #AF1E29;
    border: 2px solid #AF1E29;
}
td.bg-roosters {
    background: #061E45;
    border: 2px solid #061E45;
}
td.bg-warriors {
    background: #008445;
    border: 2px solid #008445;
}
td.bg-weststigers {
    background: #DF6A03;
    border: 2px solid #DF6A03;
}
td.bg-faded {
    background: #9CA3AF;
    border: 2px solid #9CA3AF;
}
